body {
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
}
.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}
.bill-title {
    text-align: center;
    font-size: 20px;
}
.bill-text {
    font-size: 30px;
    padding: 0px 100px;
}
.bill-text1 {
    padding: 0px 100px;
}
.bill-more-text {
    padding: 0px 100px;
    font-size: 30px;
}
.form {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
}
.form-input {
    height: 25px;
    width: 200px;
    margin: 10px 0px;
}
.form-title{
    font-weight: bold;
}
.confirmation {
    padding: 10px 100px;
    font-size: 20px;
}
.confirmation-link {
    color: red;
}
.billtrackerlist {
    padding: 0px 100px;
}
.billtracker-title {
    text-align: center;
}
.billtrackerlistdetail {
    padding: 80px 100px;
    font-size: 20px;
}
.billtrackerlistdetail-text {
    padding-left: 10px;
}
.editform-button {
    padding: 0px 100px;
}
.contact {
    padding: 20px 100px;
    font-size: 20px;
}
.back {
    margin: 40px 100px;
}
.due {
    float: right;
    font-size: 25px;
    color: red;
}
.signup {
    margin: 70px 100px;
}
.signup-more-text {
    color: red;
}
.error {
    color: red
}
.button {
    font-size: large;
}
.welcome{
    color: purple
}
.profile{
    font-size: large;
    font-weight: bold;
}
.alluser{
margin: 20px 100px;
}